// Шрифты ============================================================================================================================
$fontFamily: "Futura PT", sans-serif;
$fontSize: 14px;

// Цвета ============================================================================================================================
$blackColor: #000;
$whiteColor: #fff;
$accentColor: #5D71DD;
$darkColor: #2F2222;



// $lightBgColor: #F7F8FD;
// Отступы ============================================================================================================================
$mainOffset: 40px;

$mediaMainOffset: 30px;