@mixin font-face-woff2($font-family, $url, $weight, $style) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('#{$url}.woff2') format("woff2");
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}

@mixin font-face-woff($font-family, $url, $weight, $style) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}   