.address{
    font-weight: 400;
    font-size: 18px;
    line-height: calc(23 / 18);
    color: $accentColor;
    background-image: url('../img/icons/metka.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px; 
    margin-bottom: 40px;
}