.footer{
    padding: $mainOffset 0;
    background-color: rgba(93, 113, 221, 0.05);
    &--hide{
        opacity: 0;
        visibility: hidden;
    }


    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo{
        margin-bottom: 28px;
    }

    &__nav{
        margin-bottom: 62px;

        .nav__item:not(:last-child){
            margin-right: 80px;
        }
    }

    &__copy{
        font-size: 14px;
        line-height: calc(18 / 14);
    }
}